
.card {
    box-shadow: 0 4px 8px 0 #f6e1c5;
    transition: 0.3s;
}

    .card:hover {
        box-shadow: 0 8px 16px 0 #f6e1c5;
    }

.container {
    padding: 2px 16px;
}

.courseDetails dt, dd {
    color: #f6e1c5;
}
